<!DOCTYPE html>
<html>
<head lang="zh-CN">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
<meta name="applicable-device" content="pc,mobile">
<title>浪迹教育VIP课程</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link type="text/css" rel="stylesheet" href="__OCSS__/public.css"/>
<script type="text/javascript" src="__JS__/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__JS__/lyz.delayLoading.min.js"></script>
<script type="text/javascript" src="__JS__/public.js"></script>
<link type="text/css" rel="stylesheet" href="__OCSS__/main.css"/>
<script type="text/javascript" src="__OJS__/main.js"></script>
</head>
<body>
<Custom:Signin />
<Custom:Menu name="vip"/>
{__REPLACE__}
<div class="bodyauto">
	<div class="footer fullWidth">
		<p><a href="/bbs/article-7-1.html" title="关于我们" target="_blank">关于我们</a><a href="/bbs/article-9-1.html" title="联系我们" target="_blank">联系我们</a><a href="/bbs/article-8-1.html" title="加入我们" target="_blank">加入我们</a><a href="/zixun/sitemap_1.html" title="网站地图" target="_blank">网站地图</a><a href="http://m.puamap.com/" title="手机版" target="_blank">手机版</a></p>
		<p class="copyright">Copyright © 2017 浪迹教育.蜀ICP备13017604号-1</p>
		<p>浪迹教育PUA实战泡妞把妹社区 - 浪迹教育</p>
	</div>
</div>
<ul class="right_btn">
	<li><a class="kefu_btn" href="###" target="_blank"><img src="__IMAGES__/right_q.png"><br>情感答疑</a></li>
	<li><a href="/app.htm" title="扫码下载APP" target="_blank"><img src="__IMAGES__/right_logo.png"><br>浪迹APP</a><p><img src="__IMAGES__/app_download.jpg"><br>扫码下载APP</p></li>
	<li class="goTop"><a><img src="__IMAGES__/right_top.png"><br>返回顶部</a></li>
</ul>
</body>
</html>