<dl class="vcourse_pay_box">
	<dt><p>购买课程</p><a class="close"><img src="__IMAGES__/close.png"></a></dt>
	<dd>
		<div class="pic">
			<p class="left"><img src="<{$data.self.path}>" alt=""/></p>
			<p class="right">
				<span class="tt">恋爱魔方</span>
				<span class="time">课时：<{$data.self.time}></span>
				<span class="price">￥<b>1999</b></span>
			</p>
		</div>
		<div class="btn">
			<form action="pay.php">
				<p class="left"><label><input type="checkbox" name="">同意</label><a href="#">《浪迹教育用户服务协议》</a></p>
				<P class="right"><span class="cancel">取消</span><button>去支付</button></p>
			</form>
		</div>
	</dd>
</dl>
<div class="bodyauto">
	<dl class="vcourse_intro fullWidth">
		<dt><img src="<{$data.self.path}>"></dt>
		<dd>
			<div class="tt"><h2><{$data.self.title}></h2><span><{$data.self.time}></span></div>
			<div class="people"><span><img src="__OIMAGES__/zan1.png"><{$data.self.like}></span><span><img src="__OIMAGES__/people.png"><{$data.self.number}></span></div>
			<div class="intro">
				<span>本课程适合人群：</span><p><{$data.self.summary}></p>
			</div>
			<div class="price">￥<span><{$data.self.price}></span></div>
			<div class="buy"><a class="btn">购买课程</a><a href="#" target="_blank">咨询</a></div>
			<Custom:Share/>
		</dd>
	</dl>

<?=W('Comment/right',array($data['self']['id']))?>

	<div class="body_left whiteBg">
		<div class="vcourse_left_title"><span class="current"><if condition="$data['self']['type'] eq 1 ">套餐介绍 <else/>课程介绍</if></span><span>评论</span></div>
		<div class="vcourse_tab fullWidth2">
			<div class="vcourse_con">
				<!-- <{$data.self.title}>：<br/> -->
				<{$data.self.content|formatImageHtmlContent=###}>
			</div>
			<if condition="$data['self']['type'] eq 1 ">
			<ul class="vcourse_list1 fullWidth2">
			<foreach name='data["child"]' item='id'>
				<li class="li3">
					<div class="box">
						<div class="pic">
							<a href="#" title="">
								<img originalsrc="<{$id.thumbpath}>" alt="" class="lazy">
								<p><span></span><label><{$id.number}>人已学</label></p>
							</a>
						</div>
						<p class="tt"><span><{$id.title}></span><label>课时<{$id.lesson}>节</label></p>
					</div>
				</li>
				</foreach>
			</ul>
			</if>
		</div>
		<div class="vcourse_tab" style="display:none;">
			<dl class="comment_form" vid="<{$data.self.id}>">
				<!-- <dt>网友评论</dt> -->
				<dd>
					
						<textarea placeholder="文明上网理性发言，请遵守新闻评论服务协议" class="comment_content"></textarea>
						<p><button class="submitComment">提交</button></p>
				
				</dd>
			</dl>
			<dl class="comment_list">
				<dt>全部评论<img src="__IMAGES__/comment.png"/><span><{$data.self.comment}></span></dt>
				<if condition="$comments['status']">
				<foreach name='comments["data"]' item="id">
				<dd>
				<?=W('Comment/item',array($id))?>
				</dd>
				</foreach>
			</if>
			</dl>
			<if condition="$comments['data']">
			<div class="comment_more" vid="<{$data.self.id}>"  page='1'><a>加载更多</a></div>
			</if>
		</div>
	</div>
</div>
