<dl class="vcourse_pay_box">
	<dt><p>购买课程</p><a class="close"><img src="__IMAGES__/close.png"></a></dt>
	<dd>
		<div class="pic">
			<p class="left"><img src="__OIMAGES__/banner1.jpg" alt=""/></p>
			<p class="right">
				<span class="tt">恋爱魔方</span>
				<span class="time">课时：200小时+</span>
				<span class="price">￥<b>1999</b></span>
			</p>
		</div>
		<div class="btn">
			<form action="pay.php">
				<p class="left"><label><input type="checkbox" name="">同意</label><a href="#">《浪迹教育用户服务协议》</a></p>
				<P class="right"><span class="cancel">取消</span><button>去支付</button></p>
			</form>
		</div>
	</dd>
</dl>

<div class="bodyauto">
	<dl class="vcourse_video fullWidth whiteBg">
		<dt><{$course_info.title}>介绍</dt>
		<dd>
			<div class="left">
				<div class="player"><!-- 播放器 --></div>

				<div class="icon">
					<div class="people"><span><img src="__OIMAGES__/zan1.png"><{$course_info.like}></span><span><img src="__OIMAGES__/people.png"><{$course_info.number}>人在学</span></div>
					<Custom:Share/>
				</div>
			</div>

			<div class="right">
				<div class="right_title"><span>课程目录</span></div>
				<div class="right_title2"><{$course_info.title}></div>
				<div id="mainBox">
					<ul id="content">
						<foreach name="video_list_info" item='id' key='k'>
							<if condition="$id['id'] eq $currentData['id']">
								<li class="current">
									<a href="/vcourse/view/<{$id.course_id}>/<{$id.id}>" title="">
										<b><img src="__OIMAGES__/player_icon.png"></b>
										<div>
											<p><{$id.title}></p>
											<span><{$id.video_time}></span><i>（可试看120秒）</i>
										</div>
									</a>
								</li>
							<else />
								<li>
									<a href="/vcourse/view/<{$id.course_id}>/<{$id.id}>" title="">
										<b><{$k+1|numberFormat=###}></b>
										<div>
											<p><{$id.title}></p>
											<span><{$id.video_time}></span>
										</div>
									</a>
								</li>
							</if>
						
						</foreach>
					</ul>
				</div>
				<script type="text/javascript" src="js/scroll.js"></script>
			</div>
		</dd>
	</dl>
<?=W('Comment/right',array($course_info['id']))?>

	<div class="body_left">
		<div class="vcourse_video_con whiteBg fullWidth2">
			<dl>
				<dt><b>恋爱方法</b><span>课时1节</span></dt>
				<dd>
					<label>￥<b>18000</b></label>
					<a class="btn">购买课程</a>
					<a href="#">咨询</a>
				</dd>
			</dl>
			<div>
				<span>本课程适合人群：</span>
				<p><{$course_info.content|briefContent=###}></p>
			</div>
		</div>

		<div class="whiteBg fullWidth2">
			<dl class="comment_form" vid="<{$course_info.id}>">
				<dt>评论</dt>
				<dd>
						<textarea placeholder="文明上网理性发言，请遵守新闻评论服务协议" class="comment_content"></textarea>
						<p><button class="submitComment">提交</button></p>
				</dd>
			</dl>
			
			<dl class="comment_list">
				<dt>全部评论<img src="__IMAGES__/comment.png"/><span><{$course_info.comment}></span></dt>
				<if condition="$comments['status']">
				<foreach name='comments["data"]' item="id">
					<dd>
					<?=W('Comment/item',array($id))?>
					</dd>
				</foreach>
				</if>
			</dl>
			<if condition="$comments['data']">
			<div class="comment_more" vid="<{$course_info.id}>"  page='1'><a>加载更多</a></div>
			</if>
		</div>
	</div>
</div>
<script type="text/javascript" src="__OJS__/scroll.js"></script>